<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

		<div id="wrap">

			<section>
	<header class="major">
		<h2>Hi, I'm Dave Weaver.</h2>
	</header>
	<p>I'm currently a Director of Engineering at the LA-based software company, <a href="https://https://www.servicetitan.com/">ServiceTitan</a>.
		We’re building the operating system for the trades, a critical industry that's been underserved by technology for far too long.</p>
</section>

<section>
	<h2>Get In Touch</h2>
	<a id="contact"></a>
	<p>I'm always looking for interesting opportunities.
		Use the form below to get in touch or connect with me on
		<a href="https://www.linkedin.com/in/davideweaver">LinkedIn</a>.</p>
	<div class="row" style="margin-right: -45px;">
    <form id="emailform" action="//1mbkz65uqk.execute-api.us-east-1.amazonaws.com/dev/forms" method="post">
			<div class="row 12u 12u$(small)">

				<div class="row uniform 8u 12u$(medium)">
					<div class="6u 12u$(small)"><input type="text" name="name" id="name" placeholder="Name" /></div>
					<div class="6u$ 12u$(small)"><input type="email" name="email" id="email" placeholder="Email" /></div>
					<div class="12u$"><textarea name="message" id="message" placeholder="Message" rows="4"></textarea></div>
					<div class="6u"><input type="text" name="robot" id="robot" placeholder="What's 3 + 4?" /></div>
					<input type="hidden" name="after" value="http://daveweaver.net/confirm/">
					<input type="hidden" name="source" value="davideweaver">
				</div>

				<div class="row uniform 30% 4u$ 12u$(medium)" style="margin-top: 20px;">
					<div id="formsuccess" class="form-group" style="display: none;color:#49bf9d;">Your contact inquiry was successfully submitted</div>
					<div id="formerror" class="form-group" style="display: none;color:darkred;">There was an error submitting your contact inquiry</div>
					<div id="forminvalid" class="form-group" style="display: none;color:orange;">Your name and email address are required</div>
					<div id="formbadbot" class="form-group" style="display: none;color:orange;">Please answer the simple math question correctly</div>
				</div>

				<div class="row uniform 100% 12u$" style="margin-top: 0px;">
					<ul class="actions">
						<li><button type="submit" class="button" id="submit" value="Send Message">
							<span id="spinner" style="display: none">
								<i class="fa fa-circle-o-notch fa-spin"></i>&nbsp;
							</span>
							Send Message
							</button>
						</li>
					</ul>
				</div>

			</div>
	</form>
</div>
<script type="text/javascript" src="//ajax.aspnetcdn.com/ajax/jquery.validate/1.12.0/jquery.validate.min.js"></script>
<script type="text/javascript" src="/js/emailform.js"></script>

</section>

		</div>

    {% include footer.html %}

  </body>

</html>
